.container{

width: 100vw;
height: 450px ;
/* border: 1px solid red; */
border-radius: 20px;
background-image: url(images/Rectangle\ 14.png)
}
.image1{

    width: 600px
}



.navbar{
    font-size: medium;

}

.d-flex{
    font-size: small;
}
.p1{

    width: 176px;
height: 19px;
top: 247px;
left: 76px;
gap: 0px;
opacity: 0px;

}
/* .p2{

    width: 479px;
height: 160px;
top: 281px;
left: 76px;
gap: 0px;
opacity: 0px;

} */

.card img{
    width: 45px;
    /* height: 225px; */
    /* top: 1021px;
    left: 66px;
    gap: 0px;
    opacity: 0px;
     */


}

.card{

margin-left: 80px;
border: 0;


}

.card1{



border: 1px solid rgb(228, 233, 235);
border-radius: 10px;
margin-left: 80px;


}

.part3 {

width:100%;




}
.box{
    width: 90vw;
height: 450px ;
/* border: 1px solid red; */
border-radius: 20px;
background-image: url(images/Rectangle\ 14.png);
margin-left: 50px;
}